body {
    background-color: #2f2f2f;
    color: white;
    max-width: 500px;
    margin: 40px auto 20px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}

h2 {
    color: goldenrod;
}

a {
    color: violet;
    text-underline-offset: 4px;
    width: max-content;
}

#profile-image {
    display: flex;
    align-items: center;
}

#profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    background-color: goldenrod;
}

#title {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#title h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

#title span {
    font-size: 18px;
    font-weight: 900;
    color: goldenrod;
}

#intro {
    max-width: 450px;
}

#links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

#experience ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    padding-left: 20px;
}

#experience li {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    gap: 10px;
}

.experience-date {
    font-size: 12px;
    color: beige;
}

.experience-role {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.experience-role strong {
    font-size: 14px;
}

.experience-role em {
    font-size: 14px;
}

#lab ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style-type: none;
    padding-left: 20px;
}

#lab li {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.lab-title {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.lab-title strong {
    font-size: 14px;
}

#lab em {
    font-size: 12px;
    color: beige;
}

footer {
    text-align: center;
}

@media screen and (max-width: 550px) {
    body {
        padding: 0 20px;
    }

    header {
        flex-direction: column;
    }

    h2 {
        text-align: center;
    }

    #title {
        align-items: center;
    }

    #title h1 {
        text-align: center;
    }

    #title span {
        text-align: center;
    }

    #intro p {
        text-align: justify;
    }

    #links ul {
        justify-content: center;
    }

    #experience ul {
        padding: 0;
        gap: 32px;
    }

    #experience li {
        grid-template-columns: 1fr;
    }

    .experience-date {
        text-align: center;
    }

    .experience-role {
        text-align: center;
    }

    #lab ul {
        padding: 0;
        gap: 32px;
    }

    #lab li strong, em {
        text-align: center;
    }

    #lab li span {
        text-align: justify;
    }

    .lab-title a {
        margin: 0 auto;
    }

    footer {
        margin-top: 30px;
    }
}